@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}

section .banner
{
  position: relative;
}

.navbar {
    
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 5px;
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;;
  }
  

  /* Add a gray color to all navbar links */
.navbar ul 
{
   display: inline-block;
   width: 100%;
}
.navbar ul li
{
  
  display: inline-block;
  position: relative;
  letter-spacing: 0.5px;
  padding: 15px;
}

.navbar ul li a
{
  display: inline-block;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: all ease 0.3s;
  overflow: hidden;
}

.navbar ul li a::before
{
  content: '';
  width: 50px;
  position: absolute;
  border-bottom: 4px solid #111;
  bottom: 0;
  right: 150px;
  opacity: 0;
  transition: 0.7s all;
}

.navbar ul li a:hover::before
{
  right: 0;
  opacity: 1;
}
  
.navbar ul li a:hover 
{
    color:#2196f3 !important;
}


.navbar ul li.dropdown ul
{border-color: transparent;
  background-color:#fff;
  position: absolute;

  min-width: 150px;
  display: none;
}
.navbar ul li.dropdown ul li a
{
  color: blue;
  width: 120px;
  

}

.navbar ul li.dropdown:hover ul 
{
  display: block;
 
}


header.sticky ,header.sticky ul li a
{
    color:#000; 
    
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
     background-size: 100% 100vh;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 20px 50px;
    z-index: 1000;
    transition: 0.6s;
}
header.sticky
{
    padding: 5px 50px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
header .logo
{
  position: relative;
}
header.sticky .logo
{
  position: relative;
  left: 30px;
  top: 0;
  transition: 0.6s;
}


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(pi.jpg) no-repeat left;
    background-size: 69%;
    background-color: #fff;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}



.click{
   position: relative;
    
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5em;
}

.register a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}